/*.nav-password{*/
/*    display: none;*/
/*}*/
/*.footer_password{*/
/*    display: none;*/
/*}*/

.input-email{
    border: 1px solid black;
}
h1{
    margin-bottom: 5rem;
     text-shadow: 2px 2px #1C7293;
}
.icon{
    color: #065A82;

}
.btn-primary{
    background-color: #1B3B6F;
}

@media (min-width:  992px) {
    .icon{
        margin-right: 1rem;
    }
    hr{
        margin-right: 1rem;
    }
}
.h1-passwordresetform{
    color: var(--h1-color-password-reset-form);
}
.span-password-resetform{
    color:var(--span-color-password-reset-form);
}
.label-passwordresetform{
    color:var(--label-color-password-reset-form);
}
.hr-passwordresetform{
    width: 12rem;
    color:var(--hr-color-password-reset-form)
}