/*.nav-password{*/
/*    display: none;*/
/*}*/
/*.footer_password{*/
/*    display: none;*/
/*}*/
.icon{
    color: #065A82;

}
h1{
    width: 12rem;
    margin-bottom: 2rem;
     text-shadow: 2px 2px #1C7293;
}
@media (min-width:  992px) {
    .icon{
        margin-right: 1rem;
    }
    hr{
        margin-right: 1rem;
    }
}

.btn-primary{
    background-color: #1B3B6F;
}
label{
    font-weight: bold;
    font-size: 1.3rem;
}
p input{
    border-radius: 0.375rem;

}
ul li{
    font-size: 1.2rem;
}

.errorlist{
    color: red;
}