/* Your dark mode styles here */
body {
  background-color: rgba(17,24,39,0.95);

}
/*navbar brand name and icon*/
 /*nav-dark-span is the color of the netbook in the navbar in dark-mode*/
/*nav-dark-ul li a */
/* color home , about us ,contact us ,... in navbar */
.nav-dark-ul li a ,.nav-dark-span{


}
.navbar-nav{
    --bs-nav-link-color:white;
}

/*background-color navbar in dark-mode*/
.nav-dark{
  background-color: rgba(43, 51, 69, 0.9);
}
/*background-color for dropdown in navbar*/
.nav-dark-button{
    background-color: #ffffff0d;
}
/*hover for links in navbar for lg mode,..*/
.nav-dark-a{
    transition: 0.6s;
}
.nav-dark-a:hover{
    transform: scale(1.08);
    color: #9EB3C2;
}
 /*script for navbar animation for link */
.animate{
    color: white !important;
    border-bottom: 2px solid white;
}
/*buton login , register befor lg mode*/
.nav-dark-log-reg{
    background-color: rgba(243, 240, 240, 0.05);
    border-radius: 50%;
    color: #065a82;
}
/*background color for window offcanvas*/
.offcanvas{
    background-color: rgba(43, 51, 69, 0.9) ;
}
/*color line in window offcanvas*/
.nav-dark-hr{
    color: white;
}
/*background color for btn-close offcanvas*/
.btn-close{
    background-color: #ffffff0d ;
}
/*hover for links in navbar befor lg*/
@media (max-width: 992px) {
    .nav-item-hover {
        transition: 0.7s;
    }

    .nav-item-span {
        transition: 0.7s;
    }

    .nav-item-i {
        transition: 0.7s;
    }

    .nav-item-hover:hover {
        background-color: #9EB3C2;
        border-right: #21295C solid 10px;
    }

    .nav-item-hover:hover .nav-item-i {
        padding-right: 5px;
        color: #21295C;
    }

    .nav-item-hover:hover .nav-item-span {
        color: #21295C;
    }
}
/*background color for button offcanvas*/
.navbar-toggler{
    background-color:rgba(243, 240, 240, 0.05) ;
}
/*offcanvas button*/
/*color icon in button offcanvas*/
.nav-dark-buttonoffcanvas{
    color: #065a82;
}

/* footer*/
:root {
  --wave-color: rgba(43, 51, 69, 0.9);
  --content-footer:white;
  --footer-link-hover:#9EB3C2;
}
/*login*/
:root{
    --login-background-color:rgba(17,24,39,0.95);
    --login-form-color:rgb(36,42,56);
    --login-input-color:rgb(232, 240, 254);

}
.h2-dark-login{
    color: white;
}
.a-dark-login{
    color: white;
}
/*register*/
:root{
    --background-color-error:rgb(36,42,56);
    --color-error:white;
}

/*password-resert-form*/
:root{
    --h1-color-password-reset-form:white;
    --span-color-password-reset-form:white;
    --label-color-password-reset-form:white;
    --hr-color-password-reset-form:white;
}
/*password-reset-done*/
:root{
    --p-color-password-reset-done:white;
}

/*tweet*/
:root{
    --modal-content-color:white;
    --background-color-modal: rgba(36,42,56);
    /*show tweet*/
    --background-color-card:rgba(51,60,76);
    --border-color-card:#21295C;
    --text-color-card:white;
    --color-icon-card:#9EB3C2;
    --text-modal:white;
    /* search*/
    --background-color-input-search:rgba(51,60,76);
    --background-color-button-search:#9EB3C2;
}

/*edit profile*/
:root{
    --text-color-edit-profile:white;
    --border-color-profile-image: rgba(25, 33, 51, 0.95);
}
/*share tweet*/
:root{
    --text-color:white;
}

/*about_us*/
:root{
    --text-color-about-us:white;
}
/*contact_us*/
:root{
    --text-color-contact-us:white;
    --background-color-contact:rgb(43,51,69);
}
/*search tweet*/
:root{
    --background-color-card-search:#ffffff0d;
    --color-text-card:white;
}
/*update tweet*/
:root{
    --background-color-col:rgb(40,41,61);
    --color-text-container:white;
    --background-color-container:rgb(28, 28 ,40);
    --input-color:  rgb(50,51,77);

}
/*tweet detail*/
:root{
    --background-color-card-tweet-detail: rgb(51,60,76);
    --background-color-col-tweet-detail:rgb(36,42,56);
    --background-color-card-rep:rgb(36 42 56);
    --color-node:#394052;

}
/*profile*/
:root{
    --text-color-profile:white ;
    --col-background-color: rgb(46, 54, 66);
    --container-background-color:rgb(36, 42, 56);
    --background-color-nav: rgb(73, 83, 105);
}
/*report*/
:root{
    --col-main-background-color:rgb(36, 42, 56);
    --textarea-background-color:rgb(46, 54, 66);
    --color-text-report:white;
}
/*chat*/
:root{
    --chat-background-color:#394052;
}

/*home*/
:root{
    --hr-home:#394052;
    --color-home:white;
}

/*category*/
:root{
    --row-category-color:rgb(51,60,76);
    --card-category:rgb(36,42,56);
    --price-color:white;
    --book-name-color:#9EB3C2;
    --footer-border-top: rgba(255, 255, 255, 0.3);
    --color-card-footer: #313644;
}