{% extends 'book/parent/base.html' %} {% load static %} {% block title %}Weblog
{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/weblog/children_book.css' %}" />

{% endblock %} {% block body %}
    <div class="container text-color mt-5">
        <div class="row">
            <h1 class="fw-bold mb-5 text-center">بهترین کتاب های گروه سنی کودک و نوجوان</h1>
            <h3 class="mb-4" style="text-shadow: 1px 1px 2px #83a5bd;">ابتدا به چند مورد از مهم ترین فواید مطالعه و کتابخوانی برای کودکان می پردازیم :</h3>
           <ul class="">
               <li class="fs-4 mb-1 ms-5">توسعه ذهنی
                </li>
               <li class="fs-4 mb-1 ms-5">افزایش دایره لغات
                </li>
               <li class="fs-4 mb-1 ms-5">انگیزه و خلاقیت
                </li>
               <li class="fs-4 mb-1 ms-5">تقویت قدرت تمرکز
                </li>
               <li class="fs-4 mb-1 ms-5">آموزش ارزش ها و اخلاقیات
                </li>
               <li class="fs-4 mb-1 ms-5">رشد شخصیت
                </li>
               <li class="fs-4 mb-1 ms-5">ارتباط و ارتباطات اجتماعی
                </li>
           </ul>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/1719568108212.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/1719568108221.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/1719568108232.jpg' %}">
            </div>
        </div>
    </div>

    <div class="container text-color mb-3">
        <div class="row">
            <h3  class=" mb-3" style="text-shadow: 1px 1px 2px #83a5bd;"> چطور کودکانمان را به کتاب خواندن علاقه مند کنیم؟</h3>
            <ul>
                <li class="fs-4 mb-1 ms-5">ایجاد محیط مناسب: برای ترغیب کودکان به خواندن، می توانید محیطی مناسب برای کتاب خواندن برای آن‌ها ایجاد کنید، مانند یک کتابخانه خانگی یا یک کتابخانه عمومی.
                </li>
                <li class="fs-4 mb-1 ms-5">
                    انتخاب کتاب‌های جذاب: انتخاب کتاب‌هایی با داستان‌های جذاب و جالب برای کودکان می تواند به آن‌ها کمک کند تا به خواندن علاقه مند شوند.
                </li>
                <li class="fs-4 mb-1 ms-5">
                    ارائه پاداش: ارائه پاداش به کودکان برای خواندن کتاب‌ها می تواند آن‌ها را ترغیب کند تا بیشتر و با علاقه بیشتری به خواندن بپردازند.
                </li>
                <li class="fs-4 mb-1 ms-5">
                    مثال زدن: به عنوان والدین، می توانید به عنوان مدل برای کودکان خود عمل کنید و خودتان هم به خواندن کتاب‌ها علاقه مند شوید تا آن‌ها را ترغیب به خواندن کتاب‌ها کنید.
                </li>
                <li class="fs-4 mb-1 ms-5">
                    برگزاری جلسات خواندن مشترک: برگزاری جلسات خواندن مشترک و گفتگو درباره کتاب‌ها می تواند به کودکان کمک کند تا انگیزه و علاقه بیشتری برای خواندن پیدا کنند.
                </li>
            </ul>
            <h4 class="mb-3">البته نباید این نکته را از یاد برد که انتخاب کتاب مناسب ، مهم ترین فاکتور برای تحقق تمام مواردی ست که اشاره شد ؛ در ادامه قصد داریم بهترین کتاب های کودک و نوجوان را در دسته های مخلتلف قرار داده و به بررسی اجمالی هر کدام بپردازیم :
            </h4>
        </div>
    </div>

    <div class="container text-color">
        <div class="row">
            <h3 class="mb-3" style="text-shadow: 1px 1px 2px #83a5bd;">کتاب های مناسب گروه سنی 3-5 سال ( سال های قبل از پیش دبستانی ) :</h3>
            <ul>
                <li class="fs-4 mb-1 ms-md-5">
                    داستان های جذاب و جالب: کودکان در این سن تمایل دارند کتاب هایی با داستان های جالب و جذاب بخوانند که به خیالپردازی آن‌ها انگیزه بدهد.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    تصاویر زیبا: تصاویر زیبا و رنگارنگ می‌تواند به کودکان کمک کند تا داستان را بهتر فهمیده و به خواندن علاقه مند شوند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    آموزش مفاهیم مهم: کتاب های مناسب برای این گروه سنی باید مفاهیمی مانند دوستی، همکاری، تلاش و ارزش ها و اخلاقیات را به کودکان آموزش دهند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    اندازه متن مناسب: متن کتاب باید اندازه‌ای مناسب برای کودکان در این سن باشد تا بتوانند به راحتی آن را بخوانند و فهمایند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    تنوع موضوعات: کتاب های مناسب برای این گروه سنی باید تنوع موضوعات داشته باشند تا کودکان به جهان متنوع کتاب ها آشنا شوند.
                </li>
            </ul>
        </div>
        <div class="row mb-5 ">
            <h4 class="fw-bold ms-lg-2 ms-xxl-4">1-کارل و معنای زندگی :</h4>

            <h4 class="ms-lg-2 ms-xxl-5 mb-3">این کتاب درمورد یک کرم کوچک و بامزه است که هرروز با کلی تلاش و زحمت ،خاک سفت را به خاک نرم و مناسب کشاورزی تبدیل می کند ؛ تا اینکه یک روز ، یک موش صحرایی از او می پرسد : چرا این همه زحمت می کشی؟

کارل که جوابی برای این سؤال پیدا نمی کند ، راهیِ یک سفر پرپیچ و خم می شود تا به جواب سؤالش برسد . او در این سفر با حیوانات زیادی روبرو می شود و از هرکدام دلیل کارهایشان را می پرسد …

متن ساده و دیالوگ های بامزه ای که میان کاراکترها رد و بدل می شود ، درکنار یک تصویرسازی جذاب ، کودک شما را ترغیب به شنیدن ادامۀ داستان می کند و از طرفی پس از پایان داستان ، درس ارزشمندی درمورد ارتباط شگفت انگیز اجزای طبیعت گرفته است .

            </h4>
            <div class="col-md-3">
                <img class="img-fluid mb-2" src="{% static 'image/k1.webp' %}">
            </div>
            <div class="col-md-3">
                <img class="img-fluid mb-2" src="{% static 'image/k2.webp' %}">
            </div>
            <div class="col-md-3">
                <img class="img-fluid mb-2" src="{% static 'image/k3.webp' %}">
            </div>
            <div class="col-md-3">
                <img class="img-fluid mb-2" src="{% static 'image/k4.webp' %}">
            </div>
        </div>
        <div class="row mb-5">
            <h4 class="fw-bold ms-lg-2 ms-xxl-4">2-مجموعه کتاب های سؤالات کوچک من :</h4>

            <h4 class="ms-lg-2 ms-xxl-5 mb-3">در هر جلد از این مجموعۀ جذاب و آموزنده ، نویسندگان مختلف کتاب های کودک ، به یکی از سؤالات اساسی ذهن کودکان پاسخ داده اند ؛ این پاسخ در قالب داستانی جذاب و خنده دار و تصویرسازی های چشم نواز بوده و مباحث مفیدی درمورد مهارت های زندگی را به کودکان می آموزد .

عناوین این مجموعه شامل : احساسات ، خواهر و برادرها ، دروغ ، جدایی و خواب است .
            </h4>
            <div class="col-md-4">
                <img class="img-fluid mb-2 img-high2 img-high4" src="{% static 'image/b1.webp' %} ">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/b2.webp' %}">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/b3.webp' %}">
            </div>

        </div>

    </div>
    <div class="container text-color">
        <div class="row">
            <h3 class="mb-3" style="text-shadow: 1px 1px 2px #83a5bd;">کتاب های مناسب گروه سنی7 -5 سال  :</h3>
            <ul>
                <li class="fs-4 mb-1 ms-md-5">
                    داستان های ماجراجویانه: کودکان در این سن دوست دارند داستان هایی پر از ماجرا و اتفاقات جالب و مهیج بخوانند که خیال آن‌ها را به فضاهای جدید می‌برد.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    تصاویر زیبا و جذاب: تصاویر رنگارنگ و جذاب می‌تواند به کودکان کمک کند تا بهتر به داستان فهمیده و انگیزه بیشتری برای خواندن پیدا کنند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    آموزش ارزش‌ها و اخلاقیات: کتاب ها باید مفاهیم ارزشمندی مانند دوستی، همکاری، حسن اعمال و ارزش‌های خوب را به کودکان آموزش دهند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    موضوعات گسترده: کتاب های با موضوعات متنوع مانند داستان‌های پر از مهارت، علم و فناوری، تاریخ، طبیعت و محیط زیست می‌توانند دیدگاه کودکان را گسترش دهند و به آن‌ها اطلاعات جدید بدهند.
                </li>
                <li class="fs-4 mb-1 ms-md-5">
                    متن مناسب: متن کتاب باید مناسب برای سطح دانش و توجه کودکان در این سن باشد تا بتوانند به راحتی آن را مطالعه کنند و از آن لذت ببرند.
                </li>
            </ul>
        </div>
        <div class="row mb-5 ">
            <h4 class="fw-bold ms-lg-2 ms-xxl-4">1-شیطونی های من و خواهرم ( بهترین کلاس دنیا ) :</h4>

            <h4 class="ms-lg-2 ms-xxl-5 mb-3">
                این کتاب درمورد دوخواهر و ماجراهای بانمک آنهاست ؛سیدی خواهر بزرگتر ایواست و همیشه سعی می کند هوای خواهر کوچکترش را داشته باشد ، مثلاً وقتی قرار است ایوا به مهدکودک برود ، سیدی سعی می کند خواهرش را برای شروع این دورۀ جدید از زندگی اش به خوبی آماده کند .

این کتاب ،با نقاشی های زیبایی که در هر صفحه به چشم می خورد و ماجراهای خنده دارش ، کودکان را به خوبی مجذوب خود کرده و از طرفی درس های آموزنده ای درمورد برخورد با خواهر و برادر و بزرگترها به آنها می آموزد .
            </h4>
            <div class="col-md-4 ">
                <img class="img-fluid mb-2 img-high1 img-high3 img-widgh1" src="{% static 'image/s1.webp' %}" >
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid mb-2" src="{% static 'image/s2.webp' %}">
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid mb-2" src="{% static 'image/s3.webp' %}">
            </div>

        </div>
        <div class="row mb-5">
            <h4 class="fw-bold ms-lg-2 ms-xxl-4">2-من ساکتم ، خجالتی نیستم :</h4>

            <h4 class="ms-lg-2 ms-xxl-5 mb-3">درمورد پسربچه ای ساکت و آرام است که از نظر اطرافیانش خیلی کم رو و خجالتی بنظر می رسد ؛ اما درواقع اصلاً اینطور نیست!ذهن پسربچۀ داستان ، پراز تخیل و تصورات مخصوص به خودش است و ترجیح می دهد در خلوت خودش ، از خیال پردازی های پرسروصدایش لذت ببرد .

کودکان نیز ، با خیال پردازی های شخصیت اصلی داستان که “اِمیل” نام دارد همراه می شوند و از او یاد می گیرند شخصیت واقعی شان را همانطور که هست دوست داشته باشند…            </h4>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/m1.webp' %} ">
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2 img-high1" src="{% static 'image/m2.webp' %}" >
            </div>
            <div class="col-md-4">
                <img class="img-fluid mb-2" src="{% static 'image/m3.webp' %}">
            </div>

        </div>

    </div>
{% endblock %}