{% extends 'book/parent/base.html' %} {% load static %} {% block title %}Weblog
{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/weblog/habit_reading_book.css' %}" />

{% endblock %} {% block body %}
    <div class="container mt-5 text-color">
        <div class="row justify-content-center">
            <div class=" col-lg-10 col-xl-9 bg-color p-3" >
                <h3 class="fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">چگونه کتاب خواندن را به عادتی همیشگی تبدیل کنیم ؟</h3>
                <div class="text-center mt-5">
                    <img class="img-fluid" src="{% static 'image/h1.jpg' %}" style="width: 40rem;height: 22rem;border-radius: 0.9rem">
                </div>
                <div class="mt-4">
                    <ul>
                        <li class="fs-4 mb-1 ">
                            انتخاب محل مناسب برای خواندن: محیطی آرام و خلوت برای خواندن کتاب بسیار موثر است.
                        </li>
                        <li class="fs-4 mb-1 ">
                            تعهد: به خود قول بدهید که هر روز حتماً چند دقیقه از زمان خود را برای خواندن کتاب پر کنید.
                        </li>
                        <li class="fs-4 mb-1 ">
                            انتخاب کتاب‌های جذاب: فقط کتاب‌هایی را انتخاب کنید که به شما خوشایند هستند و شما را جلب می‌کنند.
                        </li>
                        <li class="fs-4 mb-1 ">
                            ایجاد یک گروه خواندن: اگر دوستانی دارید که علاقه‌مند به خواندن کتاب هستند، می‌توانید یک گروه خواندن تشکیل دهید و با یکدیگر در مورد کتاب‌هایی که خوانده‌اید صحبت کنید.
                        </li>
                        <li class="fs-4 mb-1 ">
                            ایجاد یادآورها: از ساعت یا یادداشت‌های یادآور برای خواندن استفاده کنید تا اعتیاد به خواندن ایجاد شود.
                        </li>
                        <li class="fs-4 mb-1 ">
                            مطالعه در موضوعات مختلف: سعی کنید که در موضوعات مختلف و گوناگون کتاب‌ها بخوانید تا از تنوع لذت ببرید و اطلاعات کلی زیادی بدست آورید.
                        </li>
                        <li class="fs-4 mb-1 ">
                            تعیین زمان مشخص برای خواندن: هر روز بهتر است یک زمان مشخص برای خواندن کتاب اختصاص دهید، مثلاً قبل یا بعد از صبحانه یا قبل از خواب.
                        </li>
                    </ul>
                </div>
                <h3 class="mt-4 fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">
                    کتاب مناسب خودتان را پیدا کنید :
                </h3>

                <h4 class="mt-3">
                    برای پیدا کردن کتاب مناسب برای خودتان، ابتدا بیشتر در مورد علایق و سلیقه‌هایتان تحقیق کنید. ممکن است علاقه‌مند به یک ژانر خاص مانند رمان، علمی، معمایی، تاریخی یا غیره باشید. همچنین می‌توانید با دوستان، خانواده یا کتابداران محلی صحبت کرده و نظراتشان را در مورد کتبی که خوانده‌اند بپرسید.

همچنین می‌توانید از وبسایت‌ها، بلاگ‌ها و برنامه‌های مختلف کتابخوانی استفاده کنید تا کتاب‌های پرطرفدار و پیشنهادی را برای خود پیدا کنید.
                </h4>
                <div class="text-center mt-3">
                    <img class="img-fluid" src="{% static 'image/h4.jpg' %}" style="width: 40rem;height: 22rem;border-radius: 0.9rem">
                </div>
                <h3 class="mt-4 fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">
                    برای خود یک هدف مشخص کنید :
                </h3>
                <h4 class="mt-3">
                     تعیین یک هدف مشخص برای خواندن کتاب‌ها بسیار موثر است. برای مثال، می‌توانید به خود قول دهید که هر ماه یک کتاب را بخوانید، یا در سال بخوانید تعداد مشخصی کتاب. همچنین می‌توانید به خود قول دهید که در یک زمان مشخص، مثلاً قبل از خواب به مدت 30 دقیقه هر شب کتاب بخوانید.

هدف مشخص کردن به شما انگیزه می‌دهد و باعث می‌شود که مستمر و پرتلاش در پی اهدافتان باشید. همچنین می‌توانید اهداف خود را با دوستان یا خانواده به اشتراک بگذارید تا شما را در انجام آنها تشویق کنند.
                </h4>
                <div class="text-center mt-3">
                    <img class="img-fluid" src="{% static 'image/h7.jpg' %}" style="width: 40rem;height: 22rem;border-radius: 0.9rem">
                </div>
                <h3 class="mt-4 fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">
                    از ساعات مطالعۀ کوتاه شروع کنید :
                </h3>
                <h4 class="mt-3">
                    این روش بسیار موثر است. اگر وقت کافی برای مطالعه ندارید، می‌توانید با شروع از مطالعه‌ی کوتاه، مثلاً 10 تا 15 دقیقه در روز، شروع کنید. این کوتاه کردن زمان مطالعه، می‌تواند به شما کمک کند تا به آرامی عادت خواندن را در زندگی روزمره‌تان جای دهید.

همچنین اگر موقعیت‌هایی مثل انتظار در خطوط، سفرهای عمومی و غیره دارید، با داشتن یک کتاب یا اپلیکیشن خواندنی در دستتان می‌توانید از این وقت‌ها برای خواندن استفاده کنید. این نوع روش‌ها به شما کمک می‌کنند تا در هر لحظه‌ای از زمانتان استفاده مناسبی برای خواندن پیدا کنید.
                </h4>
                <div class="text-center mt-3">
                    <img class="img-fluid" src="{% static 'image/h6.jpg' %}" style="width: 40rem;height: 22rem;border-radius: 0.9rem">
                </div>
                <h3 class="mt-4 fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">
                    مکانی دنج برای مطالعه انتخاب کنید :
                </h3>
                <h4 class="mt-3">
                    انتخاب یک مکان دنج و آرام برای خواندن کتاب بسیار مهم است. ممکن است مکان‌هایی مثل کتابخانه، اتاق خلوت خود، یا حتی یک کافه یا پارک برای خواندن مناسب باشند. مطمئن شوید که محیطی آرام و بی‌صدا برای خواندن انتخاب کرده‌اید تا بتوانید به راحتی و بدون انحراف به خواندن بپردازید.

همچنین اگر محیطی روشن و راحت برای خواندن ندارید، می‌توانید از لامپ خواندنی یا نور ملایم کافی برای خواندن استفاده کنید. این نکات باعث می‌شوند که تمرکز و انگیزهٔ شما برای خواندن افزایش یابد.
                </h4>
                <div class="text-center mt-3">
                    <img class="img-fluid" src="{% static 'image/h5.jpg' %}" style="width: 40rem;height: 22rem;border-radius: 0.9rem">
                </div>
                <h3 class="mt-4 fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">
                    استفاده از موبایل و شبکه های اجتماعی را به حداقل برسانید :
                </h3>
                <h4 class="mt-3">
                    در حین خواندن کتاب، بسیار مهم است که از موبایل و شبکه‌های اجتماعی به حداقل برسانید تا تمرکزتان روی کتاب باقی بماند. می‌توانید موبایل خود را در حالت سکوت قرار دهید یا به حالت "عدم اخطار" تنظیم کنید تا از اخطارها و پیام‌ها منحرف نشوید.

همچنین می‌توانید زمان‌های خاصی برای استفاده از موبایل و شبکه‌های اجتماعی در روز تعیین کنید تا در زمان خواندن کتاب، به آنها دسترسی نداشته باشید. این کار باعث می‌شود که تمرکز بیشتری بر روی خواندن کتاب داشته باشید و از انحراف از آنها جلوگیری کنید.
                </h4>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <img class="img-fluid mb-2" src="{% static 'image/h3.jpg' %}" style="border-radius: 0.9rem">
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="{% static 'image/h2.jpg' %}" style="border-radius: 0.9rem">
                    </div>
                </div>








            </div>
        </div>

    </div>
{% endblock %}