{% extends 'book/parent/base.html' %} {% load static %} {% block title %}Weblog
{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/weblog/habit_reading_book.css' %}" />
{% endblock %}{% block body %}
    <div class="container mt-5 text-color">
        <div class="row justify-content-center">
            <div class=" col-lg-10  bg-color p-3" >
                <h3 class="fw-bold" style="text-shadow: 1px 1px 2px #83a5bd;">معرفی 5 کتابی که نفستان را در سینه حبس خواهد کرد !</h3>
                <div class="row align-items-center "  >
                    <div class="col-md-8" >
                        <h4 class="mt-5 fw-bold">1-جرم و مجازات:</h4>

                        <h4>
                            «جرم و مجازات» نوشتهٔ فیودور داستایوفسکی، داستان یک جوان بی‌پناه به نام راسکولنیکوف است که تصمیم می‌گیرد یک جرم را انجام دهد و در نهایت با مشکلات روحی و عقب‌نشینی‌های فراوانی روبرو می‌شود. راسکولنیکوف به شهر پِتِرسبورگ می‌رود و در آنجا با سرنوشت زندگی خود مواجه می‌شود. او با زنی به نام اسوما و دیگر شخصیت‌های مهم دیگری آشنا می‌شود که تاثیر بزرگی بر زندگی و انتخاب‌هایش دارند.

این کتاب به زندگی و انسانیت، گناه و پشتیبانی، انصاف و بی‌انصافی و حقیقت و دروغ می‌پردازد. شخصیت اصلی کتاب، راسکولنیکوف، با اندوه و گناه خود مبارزه می‌کند در حالی که باید مجازات مربوط به اعمالش را پذیرا شود. این کتاب به شکل عمیق و پردازنده‌ای به موضوعات اخلاقی، روان‌شناسی و انسان‌شناسی می‌پردازد و خواننده را به فکر می‌اندازد.
                        </h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="{% static 'image/t1-3' %}" style="border-radius: 0.9rem;height: 17rem;">
                    </div>
                </div>
                <div class="row align-items-center " >
                    <div class="col-md-8" >
                        <h4 class="mt-5 fw-bold">2_دوربین دار در گنبد:</h4>

                        <h4>
                            «دوروبین‌دار در گنبد» یک رمان اثر جی.د. سلینجر است که در سال ۱۹۵۱ منتشر شد. داستان توسط هولدن کولفیلد، یک نوجوان که از مدارس پیشرفته مختلف اخراج شده و در حال آوارگی در شهر نیویورک است، نقل قول می‌شود. در طول رمان، هولدن با احساسات غربت، سینیسم و هوای محافظت از بی گناهی کودکان جوان که با دنیای بزرگان فاسد می‌بیند، مبارزه می‌کند.

این رمان درباره موضوعاتی از جمله نوجوانی، هویت، احساس غربت و از دست دادن بی گناهی است. شخصیت هولدن پیچیده و اغلب تضادی است، زیرا با احساسات تنهایی و ایزولاسیون مبارزه می‌کند در حالی که نیز با قوانین و انتظارات اجتماعی رد می‌شود. عنوان رمان از یک آهنگی است که هولدن می‌شنود، در آن خواننده متن آهنگ را به اشتباه به این شکل متوجه می‌شود: "اگر یک بدنی بدنی را از راه برداشته باشد"، که هولدن این را به عنوان یک استعاره برای نجات کودکان پیش از اینکه به "تپه" بزرگسالی بیفتند و بی گناهی خود را از دست بدهند، تصویر می‌کند.

در کل، «دوروبین‌دار در گنبد» یک داستان به بلوغ رسیدن است که با خوانندگان از نسل به نسل ارتباط برقرار کرده است و نگرش جهانی درباره مبارزات عمومی رشد و پیدا کردن جایگاه خود در دنیا را منعکس می‌کند.
                        </h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="{% static 'image/t2.jfif' %}" style="border-radius: 0.9rem;height: 17rem;">
                    </div>
                </div>
                <div class="row align-items-center " >
                    <div class="col-md-8" >
                        <h4 class="mt-5 fw-bold">3_“1984” :</h4>


                        <h4>
                            "۱۹۸۴" نوشته‌ی جرج اورول یک رمان دیستوپیایی است که در سال ۱۹۴۹ منتشر شد. داستان در یک جامعه توتالیتاریسمی در سال ۱۹۸۴ قرار دارد، جایی که دولت، به رهبری حزب ستمگر و رهبرش بزرگ برادر، هر جانبه از زندگی افراد را کنترل می‌کند. قهرمان داستان، وینستون اسمیت، در وزارت راستی کار می‌کند که تاریخچه‌های تاریخی را تغییر می‌دهد تا با پراپاگاندای حزب هماهنگ شود. وقتی وینستون شروع به شورش علیه حزب می‌کند و عاشق جولیا می‌شود، او شروع به درک گستره کنترل و دستکاری حزب می‌کند.

این رمان موضوعاتی از جمله نظارت و کنترل، پراپاگاندا، سانسور و از دست دادن شخصیت فردی را بررسی می‌کند. آن تصویری از جهانی تیره و سرکوب کننده ارائه می‌دهد که در آن آزادی شخصی و تفکر مستقل توسط رژیم خشونت آمیز له شده است. نوشته‌های اورول امروز هم همچنان به روز است زیرا به خطرات توتالیتاریسم و تخریب آزادی‌های شهروندی هشدار می‌دهد. "۱۹۸۴" یک رمان قدرتمند و الهام‌بخش است که به خوانندگان در سراسر جهان همچنان تاثیر می‌گذارد.
                        </h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="{% static 'image/t3.jfif' %}" style="border-radius: 0.9rem;height: 17rem;">
                    </div>
                </div>
                <div class="row align-items-center " >
                    <div class="col-md-8" >
                        <h4 class="mt-5 fw-bold">4_تقصیر ستارگان ما:</h4>


                        <h4>
                            "تقصیر ستارگان ما" نوشته‌ی جان گرین یک رمان درباره دو نوجوان، هیزل گریس لنکستر و آگوستوس واترز است که در یک گروه حمایتی برای بیماران سرطان ملاقات می‌کنند و عاشق یکدیگر می‌شوند. هیزل سرطان نهایی دارد و آگوستوس از سرطان نجات پیدا کرده اما یک پا از دست داده است. رمان داستان سفر آنها را در طی مواجهه با چالش‌های زندگی با سرطان و عاشق شدن در برابر شرایط دشوار روایت می‌کند.

این داستان موضوعات عشق، از دست دادن، مرگ و جستجوی معنی در زندگی را بررسی می‌کند. آن به پیچیدگی‌های زندگی با بیماری نهایی و تأثیر آن بر روابط و رشد شخصی می‌پردازد. "تقصیر ستارگان ما" یک داستان دلنشین و صمیمی است که زیبایی و شکلپذیری زندگی را به تصویر می‌کشد و خوانندگان را به اهمیت عشق و ارتباط در برابر مشکلات تذکر می‌دهد.
                        </h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="{% static 'image/t8-1.jfif' %}" style="border-radius: 0.9rem;height: 17rem;">
                    </div>
                </div>
                <div class="row align-items-center " >
                    <div class="col-md-8" >
                        <h4 class="mt-5 fw-bold">5_بادبادک باز:</h4>


                        <h4>
                             «تازه دوندگان» اثر خالد حسینی، داستان یک پسر افغان به نام امیر است که در کابل بزرگ می‌شود. امیر و هزاره، رفیق دوران کودکی او، با هم رویای دواندن بادبادک را دنبال می‌کنند. اما یک رویداد تلخ انقلاب از آنها دو بنیان زمین می‌کند و امیر مجبور به ترک وطنش و گذاشتن زندگی پر جذابیت خود می‌شود.

داستان طی روابط پیچیده و دردناکی که امیر با هزاره دارد، ماجراهای جالبی از دوستی، تسامح، پیامد ها و فرصت‌های دوباره در زندگی را به تصویر می‌کشد. این رمان حاوی عناصری از جنگ، خیانت، عقده‌های خانوادگی و تلاش برای تلافی است، که تمامی آنها با هم تنیده شده و داستانی مؤثر و پرشور را به خوانندگان ارائه می‌دهد.
داستان طی روابط پیچیده و دردناکی که امیر با هزاره دارد، ماجراهای جالبی از دوستی، تسامح، پیامد ها و فرصت‌های دوباره در زندگی را به تصویر می‌کشد. این رمان حاوی عناصری از جنگ، خیانت، عقده‌های خانوادگی و تلاش برای تلافی است، که تمامی آنها با هم تنیده شده و داستانی مؤثر و پرشور را به خوانندگان ارائه می‌دهد.

                        </h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="{% static 'image/t5.jfif' %}" style="border-radius: 0.9rem;height: 17rem;width: 13.5rem;">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}