.background_notif{
    background-color: var(--color-node);
    border-radius: 0.5rem;
}

.img-profile-img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid black;
}
.img-profile-i{
    font-size: 2.3rem;
    color: rgba(0, 0, 0, 0.8);

}