
.report-error{
    color:var(--color-error);
    width: 20rem;
    background-color: var(--background-color-error);
    padding: 0.5rem;
    border-bottom: 3px solid red;
    border-radius: 10px;
    animation:fadeout 10s forwards;
}
@keyframes fadeout {
   0%{opacity: 1;}
    75%{opacity: 0.7}
    100%{opacity: 0}
}
.main-col{
    background-color: var(--col-main-background-color);
    border-radius: 1rem;
}

.btn-secondary1 {
    --bs-btn-bg: #1C7293;
    --bs-btn-border-color:#1C7293;
    --bs-btn-hover-bg:#065A82;
    --bs-btn-hover-border-color:#065A82;
    --bs-btn-color: #fff;
    --bs-btn-hover-color:#fff;

}

.btn-secondary2{
     --bs-btn-border-color:#1C7293;
     --bs-btn-hover-border-color:#065A82;
    --bs-btn-hover-bg:#065A82;
     --bs-btn-color: #1C7293;
    --bs-btn-hover-color:#fff;
}
.color-textarea{
    background-color: var(--textarea-background-color);
}
.color_text{
    color: var(--color-text-report);
}
