{% extends 'book/parent/base.html' %} {% load static %} {% block title %}About
Us {% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/children/about_us.css' %}" />
{% endblock %} {% block body %}

<div class="container text-color" style="margin-top: 5rem; margin-bottom: 10rem">
  <div class="row align-items-center">
    <div
      class="col-lg-6 col-xl-5 offset-xl-1"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <article class="hero-img center-img">
        <img
          class="img-fluid hero-photo"
          src="{% static 'image/1708422813344.jpg' %}"
          alt="hero-img"
        />
      </article>
    </div>
    <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
      <h1 class="fw-bold mb-3">درباره ما</h1>
      <p class="fs-4">
        خوش آمدید به NetBook، مقصدی برای عشق به کتاب‌های دست دوم. ما با افتخار
        به عنوان جامعه‌ای از علاقه‌مندان به خواندن، به دنیای جذاب و منحصر به فرد
        کتاب‌های دست دوم خوش آمدید می‌گوییم. در NetBook، ما به دنبال ارائه
        بهترین کتب دست دوم با کیفیت بالا هستیم. هدف ما ایجاد یک فضای خواندنی
        شگفت‌انگیز است که به شما امکان می‌دهد تا غوطه ور شوید در دنیای جذاب
        کتاب‌ها، تجربیات جدیدی پیدا کنید و ارتباطات خود را با دوستان خواننده
        افزایش دهید. با افزونه‌های شبکه‌های اجتماعی در سایت ما، شما فرصتی خواهید
        داشت تا با جامعه‌ای پویا از خوانندگان، نویسندگان و علاقه‌مندان به کتب بر
        خورد کنید. ما اعتقاد داریم به ایجاد یک فضای خلق‌شده توسط علاقمندان به
        کتاب که تجربیات، دانش و ایده‌هایشان را با یکدیگر به اشتراک می‌گذارند. به
        ما بپیوندید و به جامعه‌ی پرانرژی NetBook بپیوندید. با ارزش‌ترین دوستی که
        ما داریم شما هستید. با تشکر از حمایت و اعتماد شما.
      </p>
    </div>
  </div>
  <div class="row align-items-center" style="margin-top: 8rem">
    <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-duration="2000">
      <h1 class="fw-bold mb-3">هدف ما</h1>
      <p class="fs-4">
        در NetBook، ما به ارزش خواندن و دانش بخشیدن احترام می‌گذاریم. اعتقاد
        داریم که هر کتابی داستانی بی‌نهایت دارد و هر صفحه‌اش یک تجربه جدید برای
        خواننده است. با تلاش برای ارائه تنوعی از کتب در اختیار شما، ما امیدواریم
        که علاقه شما را به خواندن تقویت کنیم و شما را به دنیایی از دانش و
        هیجانات هدایت کنیم. هدف ما در NetBook ایجاد یک فضای دوستانه و پرمحبت
        برای افرادی است که عشق به کتب و خواندن را در قلب خود حفظ کرده‌اند. ما به
        عنوان یک جامعه از خوانندگان فعال و مشتاق، خوشحالیم که شما را در این سفر
        شگفت‌انگیز به دنیای خواندن همراهی کنیم. با انرژی و انگیزه، تیم NetBook
        به تلاش برای ارائه بهترین خدمات و تجربیات خرید برای شما ادامه خواهد داد.
        با تشکر از حمایت و همراهی شما، ما از این امتیاز و افتخار برای پیشبرد
        اهدافمان بهره خواهیم برد. با ما همراه باشید و جزو جامعه پرانرژی NetBook
        شوید. ممنون از حضور شما در این سفر خواندنی. امیدواریم که تجربه‌ی خوبی از
        خرید کتاب در NetBook داشته باشید. با ارزش‌ترین انرژی کتاب، درآمد دانش،
        همیشه به خیر باشید!
      </p>
    </div>
    <div class="col-lg-6 order-1 text-center" data-aos="fade-up" data-aos-duration="2000">
      <video autoplay muted loop style="height: 35rem; width: 25rem">
        <source src="{% static  'video/5387029-hd_1080_1920_30fps (1).mp4'%}" type="video/mp4"/>
      </video>
    </div>
  </div>
</div>
{% endblock %}
