
{% extends 'book/parent/base.html' %} {% load static %} {% block title %}Share {{ title }}
{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/children/share_tweet.css' %}" />
{% endblock %} {% block body %}
    {% if form.errors %}
        <div class="share-error" style="position:absolute;top: 20px;left: 20px;" >
              <span class="fw-bold fs-4"><i class="bi bi-x-circle-fill me-2 text-danger"></i>خطا</span>
              {% for field in form %}
                  {% if field.errors %}
                      {% for error in field.errors %}
                          <p class="fs-5"><span class="fw-bold">{{ field.label }}:</span>{{ error }}</p>
                      {% endfor %}
                  {% endif %}
              {% endfor %}
              {% if form.non_filed_errors %}
                  {{ form.non_filed_errors }}
              {% endif %}

        </div>
    {% endif %}



<div class=" container container-share text-color">
  <div class="row text-center">
    <h1 class="fw-bold">اشتراک گذاری {{ title }}</h1>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 col-lg-7 order-2 order-md-1">
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label fs-4"
            >متن ایمیل:</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="متن ایمیل..."
            name="message"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label fs-4"
            >ایمیل:</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput2"
            placeholder="name@example.com"
            name="to"
          />
        </div>
        <input type="submit" class="btn btn-info fs-5" value="ارسال" />
      </form>
    </div>
    <div class="col-md-6 col-lg-5 order-1">
      <img src="{% static 'image/share-87.svg' %}" class="img-fluid" />
    </div>
  </div>
  <div class="row text-center">
    {% if sent %}
    <span
      ><i class="bi bi-check-circle-fill fs-3 text-success"></i
      ><span class="fs-2 ms-2">ایمیل ارسال شد</span></span
    >
    {% endif %}
  </div>

</div>

{% endblock %}