{% extends 'book/parent/base.html' %} {% load static %} {% block title %} Buying and Selling Guide
 {% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/weblog/habit_reading_book.css' %}" />
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 4rem">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-9 text-color bg-color p-4" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" >
                <h2 class="fw-bold" style="text-shadow: #83a5bd 1px 0 10px;">مرحله اول:اضافه کردن به سبد خرید</h2>
                <span class="fs-3">بعد از انتخاب کتاب مورد نظر ،کتاب را به سبد خرید اضافه کنید و با مراجعه به سبد خرید،روی گزینه ارسال فاکتور کلیک کنید.</span>
                <span class="fs-4">نکته:زمانی که با فروشنده هناهنگی لازم و انجام داده اید و به توافق رسیده اید بر روی ارسال فاکتور کلیک کنید.</span>

                <h2 class="fw-bold mt-4" style="text-shadow: #83a5bd 1px 0 10px;">مرحله دوم:تایید فروشنده کتاب</h2>
                <span class="fs-3">زمانی فاکتور توسط خریدار ارسال شد ما اعلانی برای فروشنده ارسال میکنیم تا در صورتی که کتاب ها را موحود دارد فاکتور را تایید کند.</span>
                <br>
                <span class="fs-4">نکته:در صورت تایید فاکتور توسط فروشنده گزینه ادامه خرید برای کتاب مورد نظر در سبد خرید ایجاد میشود و در صورت عدم تایید فاکتور توسط فروشنده ، کتاب مورد نظر از سبد خرید خریدار حذف میشود</span>

                <h2 class="fw-bold mt-4" style="text-shadow: #83a5bd 1px 0 10px;">مرحله سوم:پرداخت هزینه توسط خریدار</h2>
                <span class="fs-3">زمانی که فروشنده فاکتور را تایید کرد خریدار میتواند روی گزینه ادامه خرید کلیک کند تا هزینه کتاب را پرداخت کند.ابتدا خریدار مشخصات پستی را وارد میکند و سپس اقدام به پرداخت میکند</span>
                <br>
                <span class="fs-4">نکته:هزینه ارسال با خریدار است که میتونن حضوری تحویل بگیرن و یا با فروشنده در این مورد هماهنگ کنند.درصورتی که نیاز به پرداخت هزینه پست داشتین،خریدار در هنگام پرداخت کتاب،گزینه هزینه پست هم اضافه میکند.هزینه پست را میتوانید از فروشنده بپرسید یا از سرویس های انلاین استعلام بگیرید.</span>

                <h2 class="fw-bold mt-4" style="text-shadow: #83a5bd 1px 0 10px;">مرحله چهارم:ارسال کتاب توسط فروشنده</h2>
                <span class="fs-3">بعد از پرداخت هزینه کتاب و هزینه ارسال(در صورت نیاز)توسط خریدار ، ما ررای فروشنده اعلان ارسال میکنیم و مشخصات پستی خریدار و پرداخت را ارسال میکنیم و فروشنده باید بسته را طبق هماهنگی صورت گرفته بین خیردار و فروشنده ارسال کند</span>
                <br>

                <h2 class="fw-bold mt-4" style="text-shadow: #83a5bd 1px 0 10px;">مرحله پنجم:دریافت کتاب توسط خریدار</h2>
                <span class="fs-3">زمانی که بسته ارسالی توسط خریدار دریافت شد درصورتی که کتاب ها طبق اگهی و بدون مغایرت ارسال شده بود، خریدار از صفحه جزئیات فاکتور گزینه دریافت را انتخاب میکند و ما هزینه کتاب و پست (در صورت پرداخت)را به حساب فروشنده ارسال میکنیم</span>


            </div>
        </div>
    </div>
{% endblock %}