{% extends 'book/parent/base.html' %} {% load static %} {% block title %}Detail Requested Book
 {% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/child-store/recommended_book_user.css' %}" />
{% endblock %} {% block body %}
    <div class="container text-color" style="margin-top: 5rem">
    {% if book.user.id == request.user.id %}
     <div class="dropdown dropdowon_position_requested" >
            <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item border-bottom fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#exampleModaldelete">حذف اگهی</a></li>
                <li><a class="dropdown-item fw-bold" href="{% url 'book:update_requested_book' book.id %}">ویرایش اگهی</a></li>

            </ul>
     </div>
    {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 bg-color p-3" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;">
                <h3 class="text-center" style="text-shadow: #587a91 1px 0 10px;">{{ book.name_book }}</h3>
                <div class="row text-center mt-5">
                    <div class="col-md-6">
                        <h5>نویسنده:{{ book.author }}</h5>
                        {% if  book.print_year  %}
                            <h5>سال چاپ:{{ book.print_year }}</h5>
                            {% else %}
                                <h5>سال چاپ:</h5>
                        {% endif %}

                    </div>
                    <div class="col-md-6">
                        <h5>دسته بندی:{{ book.category }}</h5>
                        <h5>زمان ثبت اگهی:{{ book.created_at }}</h5>
                    </div>
                </div>
                <div class="row mt-5">
                    <h5>توضیحات:{{ book.Description }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container " style="color: #83a5bd">
        <div class="row justify-content-center">
            <div class="col-md-7">
                 <span>
              <i class="bi bi-exclamation-triangle-fill"></i>
              <span class="fs-5">اگر این کتاب را دارید و مایل به فروش ان هستید میتوانید به شخص درخواست کننده کتاب پیام دهید و هماهنگی های لازم برای ارسال کتاب را انحام دهید</span>
          </span>
            </div>
        </div>
        {% if request.user.id != book.user.id %}
        <div class="row mt-3 justify-content-center " >
            <div class="col-md-7 text-center " >
                <span class="p-2" style="background-color: #587a91;border-radius: 0.5rem"  ><i class="bi bi-chat-left-text"></i><a style="text-decoration: none;color: white" href="http://127.0.0.1:8000/chat/?user={{ book.user.username }}" class="fw-bold fs-5 ms-2">ارسال پیام به ثبت کننده اگهی</a></span>
            </div>
        </div>
        {% endif %}

    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModaldelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel">حذف اگهی</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-4 ">
        ایا میخواهید این آگهی را  حذف کنید؟
      </div>
      <div class="modal-footer" style="border-top:none;">
        <button type="button" class="btn btn-secondary2" data-bs-dismiss="modal">لغو</button>
        <a type="button" class="btn btn-secondary1" href="{% url 'book:delete_requested_book' book.id %}" >حذف</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}