{% extends 'book/parent/base.html' %}
{% load static %}
{% block title %} Password Reset Complete{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/password/password_reset_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/password/paasword_reset_done.css' %}">
{% endblock %}
{% block body %}
<div class="container" style="margin-top: 5%">
  <div class="row text-center">
    <h1 class="fw-bold h1-passwordresetform">NetBook</h1>
  </div>
  <div class="row mb-4 mb-md-0">
    <i class="bi bi-4-circle-fill fs-1 icon"
      ><span class="fw-bold ms-3 span-password-resetform">گام آخر</span></i
    >
    <hr class="hr-passwordresetform" />
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-11 offset-lg-1">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-5 order-2 order-md-1">
          <p class="fs-2 p-password-reset-done text-center">رمز عیور شما  با موفقیت تغییر کرد</p>
        </div>
        <div
          class="col-md-7 col-lg-5 offset-lg-1 order-1 mb-2 mb-md-0 order-md-1"
        >
          <img
            src="{% static 'image/65fdf2084d1c51e927ee21f3_2tBps38_hlld9M5d4Us2BvlurI2pkp1trSMzsniioZo.svg' %}"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}