
{% extends 'book/parent/base.html' %}
{% load static %}
{% block title %} Password Reset Confirm{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/password/password_reset_confirm.css' %}">
{% endblock %}
{% block body %}
{% if validlink %}
<div class="container" style="margin-top: 5%">
  <div class="row text-center">
    <h1 class="fw-bold ">NetBook</h1>
  </div>

  <div class="row mb-5 ">
    <i class="bi bi-3-circle-fill fs-1 icon"
      ><span class="fw-bold ms-3 text-dark">گام سوم</span></i
    >
    <hr style="width: 12rem">
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-11 offset-lg-1">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5 order-2 order-md-1">
            <form method="post" novalidate >
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="تغییر رمز عبور">
            </form>
        </div>
        <div
          class="col-md-6 col-lg-5 offset-lg-1 order-1 mb-5 mb-md-0 order-md-1"
        >
          <img
            src="{% static 'image/authentication-65.svg' %}"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
       {% else %}
       <h2 class="text-center text-danger" style="margin-top: 20%">این لینک معتبر نیست لطفا دوباره امتحان کنید</h2>
{% endif %}
    
{% endblock %}